<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Rólunk</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>Rólunk</h1>
            <nav>
                <ul>
                    <li><a href="/">Főoldal</a></li>
                    <li><a href="/products">Termékek</a></li>
                    <li><a href="/contact">Kapcsolat</a></li>
                    <li><a href="/about">Rólunk</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <section class="about-info">
            <h2>Webshopunk története</h2>
            <p>A Forma 1-es Webshop célja, hogy elhozza a legexkluzívabb Forma 1-es relikviákat a rajongók számára.</p>
            <p>Csapatunk szenvedélyes Forma 1-es rajongók, akik arra törekednek, hogy a legjobb termékeket kínálják a gyűjtőknek és a rajongóknak.</p>
        </section>
    </div>
</body>
</html>
